{% extends 'base.html' %}
{% block title %}Market{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>Market List</h1>
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addMarketModal">Add Market</button>
        
    <!-- Add Market Modal -->
    <div class="modal fade" id="addMarketModal" tabindex="-1" aria-labelledby="addMarketModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMarketModalLabel">Add Market</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'add_market' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Market Name:</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Add Market</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for market in markets %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ market.name }}</td>
                <td>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editMarketModal{{ market.id }}">Edit</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteMarketModal{{ market.id }}">Delete</button>
                </td>
            </tr>
            <!-- Edit Market Modal -->
            <div class="modal fade" id="editMarketModal{{ market.id }}" tabindex="-1" aria-labelledby="editMarketModalLabel{{ market.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editMarketModalLabel{{ market.id }}">Edit Market Name</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="{% url 'market-edit' market.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="name">Market Name:</label>
                                    <input type="text" class="form-control" id="name" name="name" value="{{ market.name }}" required>
                                </div>
                                <button type="submit" class="btn btn-primary mt-4">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Delete Market Modal -->
            <div class="modal fade" id="deleteMarketModal{{ market.id }}" tabindex="-1" aria-labelledby="deleteMarketModalLabel{{ market.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteMarketModalLabel{{ market.id }}">Delete Market</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete the market <strong>{{ market.name }}</strong>?</p>
                        </div>
                        <div class="modal-footer">
                            <form method="post" action="{% url 'market-delete' market.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}
