{% extends 'base.html' %}
{% load static %}
{% block title %}Main{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Select Market:</h1>
    <form method="post" id="market-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="market">Market:</label>
            <select class="form-control" id="market" name="market" required>
                {% for market in markets %}
                    <option value="{{ market.name }}" {% if selected_market and selected_market.name == market.name %}selected{% endif %}>{{ market.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary mt-3">Show Datasets</button>
        </div>
    </form>
    {% if selected_market %}
        <div id="train-section">
            {% if data_sets %}
                <p>There are {{ data_sets|length }} datasets in this market from {{ data_sets.0.date }} to {{ data_sets.last.date }}.</p>
                {% if models %}
                    <h1>Train ML Models:</h1>
                    <form method="post" id="train-model-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Select Models:</label>
                            <div>
                                <input type="checkbox" id="select-all">
                                <label for="select-all">Select all</label>
                            </div>
                            {% for model in models %}
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input model-checkbox" id="model-{{ forloop.counter }}" name="models" value="{{ model.name }}">
                                <label class="form-check-label" for="model-{{ forloop.counter }}">{{ model.name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="k-min">Min k:</label>
                            <input type="number" class="form-control" id="k-min" name="k-min" value="1" required>
                        </div>
                        <div class="form-group">
                            <label for="k-max">Max k:</label>
                            <input type="number" class="form-control" id="k-max" name="k-max" value="100" required>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Train</button>
                    </form>
                    <div id="training-steps" style="display: none;">
                        <div id="step1" style="display: none;">
                            <h2>Step 1: Choosing K</h2>
                            <p id="choosing-k">Choosing the best k...</p>
                            <p id="k-value" style="display: none;">The best value of k is: <span id="best-k"></span></p>
                            <div id="histogram"></div>
                        </div>
                        <div id="step2" style="display: none;">
                            <h2>Step 2: Processing data</h2>
                        </div>
                        <div id="step3" style="display: none;">
                            <h2>Step 3: Training model</h2>
                            <div id="training-results"></div>
                        </div>
                        <div id="step4" style="display: none;">
                        </div>
                        <div id="best-model" style="display: none;">
                        </div>
                    </div>
                {% else %}
                    <h1>Train ML Models:</h1>
                    <p>No models found in the database, please check the models.</p>
                {% endif %}
            {% else %}
                <p>No datasets available for this market. Please upload dataset</p>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://mpld3.github.io/js/mpld3.v0.5.10.js"></script>
<script src="{% static 'js/train_new.js' %}"></script>
{% endblock %}
